<nav >
    <section class="logo" >
        <div style="width: 60px; height: 60px; border-radius: 50%; background-color: transparent; position: absolute;">

        </div>
        <div style="width: 60px; height: 60px; border-radius: 50%; background-color: #fff; position: absolute; top: 30px; left: 30px; ">
        </div>
        <div style="width: 60px; height: 60px; border-radius: 50%; background-color: #fff; position: absolute; top: -30px   ; left: 30px; ">
        </div>
        <div style="width: 60px; height: 60px; border-radius: 50%; background-color: #fff; position: absolute; top: 30px; left: -30px; ">
        </div>
        <div style="width: 60px; height: 60px; border-radius: 50%; background-color: #fff; position: absolute; top: -30px; left: -30px; ">
        </div>

        
    </section>
    <section class="menu" >
        <ul style="display: inline-flex; color: #fff; font-size: 1.3rem;">
            <li><a href=""><b>00</b> HOME</a></li>
            <li><a href=""><b>01</b> DESTINATION</a></li>
            <li><a href=""><b>02</b> CREW</a></li>
            <li><a href=""><b>03</b> TECHNOLOGY</a></li>
        </ul>
    </section>
    
</nav>