<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Barlow:wght@200&family=Cormorant&display=swap" rel="stylesheet">
    
</head>

<body>
    <header style="padding-top: 1.5rem;">
        <app-header></app-header>
    </header>
    <main>
        <section>
            <section style="margin: 3rem;">
                <section style="display: flex; flex-flow: column nowrap; width: 400px; color: #fff; padding-top: 10rem;">

                    <h1 style="font-family: 'Barlow Condensed', serif; font-size: 2rem; font-weight: 200;">SO, YOU WANT TO TRAVEL TO</h1>
                    <p style="font-size: 8rem; font-family: 'Cormorant';">SPACE</p>
                    <p style="font-family: 'Barlow';">Lorem ipsum dolor sit amet consectetur adipisicing elit. in voluptates eaque quia illum! Illo
                        minima
                        repellat totam veritatis laudantium voluptate cumque perferendis cum animi consequuntur vitae
                        eaque nemo
                        iure cupiditate, ad nulla tenetur enim illum consectetur numquam odio </p>


                </section>
            </section>
        </section>
        <section style="position:absolute; right: 6rem; bottom: 6rem;">
            <app-explorer></app-explorer>
        </section>
        
    </main>
</body>

</html>